.MuiGrid-align-items-xs-center{
  align-items: left !important;
}
.makeStyles-formControl-8{
  margin:0px !important;
}
.makeStyles-root-1{
  width:100%;
}
.makeStyles-formControl-18{
  margin:0px !important;
}
.MuiFormControlLabel-root{
  margin-right:0px !important;
}
.makeStyles-root-26 .MuiOutlinedInput-root{
  height:120px;
}
